@import "src/color.scss";

$colvar: var(--primary);
html {
    scroll-behavior: smooth;
}

.hero {
	height: calc(100vh - 100px);
	overflow: hidden;
	background: linear-gradient(180deg, var(--bgcolor), var(--bgcolor-lighter));
	// background-color: var(--bgcolor);
	position: relative;

	.wrapper {
		max-width: 1366px;
		height: 100%;
		margin: auto;

		.textContainer {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 40px;

			h2 {
				font-size: 30px;
				color: var(--secondary);
				letter-spacing: 10px;
			}

			h1 {
				font-size: 80px;
			}

			.buttons {
                cursor: default;
				z-index: 9999;
				
				a {
					padding: 15px;
					font-size: 17px;
					border: 1px solid var(--primary);
					border-radius: 10px;
                    background-color: transparent;
                    color: var(--primary);
                    margin-right: 20px;
					font-family: var(--sub-font);
                    cursor: pointer;
                    font-weight: 450;
			
				}

                .button2{
                    background-color: var(--primary);
                    color: var(--secondary);
                    cursor: pointer;
					font-weight: 700;
                }
			}

			img {
				width: 50px;
			}
		}
	}

	.imageContainer {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}

    .slidingtext{
        position: absolute;
        font-size: 50vh;
        font-weight: bold;
        bottom: -120px;
        white-space: nowrap;
        color: var(--primarybg);
        width: 50%;
    }
}
