@import "src/color.scss";

.contact {
	height: 100%;
	max-width: 1366px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 50px;

	.textContainer {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 50px;

		h1 {
			font-size: 100px;
			line-height: 90px;
		}

		.itemWrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
			span {
				font-weight: 400;
				font-size: 19px;
				font-family: var(--sub-font);
			}
		}
	}

	.formContainer {
		flex: 1;
		position: relative;

		.phoneSvg {
			stroke: var(--secondary);
			position: absolute;
			margin: auto;
			z-index: -1;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;

			input,
			textarea {
				padding: 20px;
				background-color: transparent;
				color: var(--primary);
				border: 1px solid var(--primary);
				border-radius: 10px;
			}

			button {
				padding: 20px;
				border: none;
				background-color: var(--secondary);
				cursor: pointer;
				color: var(--bgcolor);
				font-weight: 600;
				border-radius: 10px;
			}
			.popup {
				position: fixed;
				top: 20px;
				right: 20px;
				padding: 10px 20px;
				background-color: #4caf50; /* Green for success */
				color: white;
				border-radius: 5px;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;
				z-index: 1000;
			}

			.popup.error {
				background-color: #f44336; /* Red for error */
			}

			.popup.show {
				opacity: 1;
			}
		}
	}
}
