:root {
	--bgcolor: #17153b;
	--secondary: #d24653;
	--primary: #e3c3cf;


	// --primary: #f9e6ed;
	// --secondary: #d82f69;

	// --primary: #f5fff9;
	// --secondary: #17cf67;


	// --primary: #fff1e5;
	// --secondary: #ff7300;

	// --primary: #f9e5ff;
	// --secondary: #d438ff;

	// --bgcolor: #06280c;
	// --primary: #d6ceb6;
	// --secondary: #dc6282;

	// --primary: #d5e2d7;
	// --secondary: #ff5700;
	
	// --bgcolor: #280627;
	// --primary: #e7dfe7;
	// --secondary: #09b3ec;

	--primarybg: #e3c3cf09;
    --bgcolor-darker: #0d0c27;
    --bgcolor-lighter: #1c1a49;
}
